html {
  min-height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(
    0deg,
    rgba(100, 98, 231, 1) 0%,
    rgba(173, 104, 233, 1) 100%
  );
  background-repeat: no-repeat;
}

.container {
  background-color: white;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
}
.container > h1 {
  text-align: center;
}
.container > div {
  padding: 10px;
}
.container dd {
  margin-left: 5px;
  position: absolute;
  display: none;
}
