@import "./variables";
html {
  min-height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(
    0deg,
    rgba(100, 98, 231, 1) 0%,
    rgba(173, 104, 233, 1) 100%
  );
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  background-color: white;
  border-radius: 25px;
  margin-top: 130px;
  margin-left: 5vw;
  padding-bottom: 20px;
}
.content {
  align-self: flex-end;
  height: fit-content;
  width: 90%;
  margin-left: 5%;
  border-radius: 0px 0px 15px 15px;
  font-size: 0.9em;
  dt {
    margin: 10px 0px;
  }
  dd {
    font-size: 0.8em;
    margin-left: 5px;
    width: 90%;
  }
  dt:after {
    content: "v";
    float: right;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    height: 50%;
    color: $blur-red;
  }
  h1 {
    font-size: 1.7em;
    text-align: center;
    padding: 2vh 0px;
  }
  hr {
    // color: rgb(238, 237, 237);
    border-top: 0.5px solid rgb(240, 239, 239);
    margin: 20px 0px;
  }
}
.pictureCnotainer {
  // background-color: $r;
  margin-top: -100px;
  .mainImage {
    height: 80%;
    width: auto;
    img {
      width: auto;
      height: 100%;
      min-height: 167.516px;
      max-height: 267.516px;
    }
  }
  .shadowImage {
    // background-color: $r;
    margin-top: -70px;
    margin-left: -10px;
    img {
      width: auto;
      height: 43%;
    }
  }
}
